body, p, ol, ul, td {
  font-family: georgia, verdana, arial, helvetica, sans-serif;
  font-size:   17px;
  line-height: 23px;
  color: #333; margin:0; padding:0;
}

#love {color:#ff0090;}
#tapwater {color:#64b0f1;}

#main {
  margin: 0px auto;
  width: 600px;
}

.pos-r {
  float:right;
}

.time {
  font-size:80%;
  margin-bottom:10px;
  text-align:right;
}

.post {
  border-bottom: solid 1px #333;
  clear:both;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 {text-align:center;}

a { color: #ff0090; text-decoration:none;}
a.w { color: #fff; cursor:default;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

